@model IDGS901_tema1.Models.Distancia

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Distanciapuntos/Calcular" method="post">
    <label>x1</label>
    <input type="text" name="x1" value="" />
    <br />
    <label>x2</label>
    <input type="text" name="x2" value="" />
    <br />
    <label>y1</label>
    <input type="text" name="y1" value="" />
    <br />
    <label>y2</label>
    <input type="text" name="y2" value="" />
    <br />
    <input type="submit" name="" value="Calcular" />
</form>